.app {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  .button {
    padding: 8px 16px;
  background-color: #3b82f6; /* Initial blue color */
  color: white;
  border-radius: 9999px;
  margin-top: 16px;
  margin-right: 10px; /* Gap between buttons */
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease, transform 0.2s ease;

  }
  .button:hover{
  background-color: #1e40af; /* Brighter and more intense blue */
  transform: scale(1.009);
  }
  .question-display {
    margin-top: 20px;
  }
  
  .question-item h3 {
    font-size: 1.8rem;
    color: black;
  }
  
  .leetcode-link {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #007BFF;
    text-decoration: none;
  }
  
  .leetcode-link:hover {
    text-decoration: underline;
  }
  
  .accuracy {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
  }
  
  .related-topics {
    margin-top: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .topic-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 7px 4px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
  }
  
  .difficulty {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 9999999999999px;
    font-size: 1.0rem;
    color: white;
    /* cursor: pointer; */
  }
  
  .hard {
    background-color: red;
  }
  
  .medium {
    background-color: green;
  }
  
  .title{
    padding: 20px
  }
  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* You can adjust this value to control the spacing */
  }
  
  .leetcode-link {
    font-size: 1.2rem;
    color: #007BFF;
    text-decoration: none;
  }
  
  .leetcode-link:hover {
    text-decoration: underline;
  }
  
  .accuracy {
    font-size: 1.2rem;
    color: #333;
  }
  .link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjusts space between items */
  }
  
  .leetcode-link, .accuracy {
    font-size: 1.2rem;
    margin: 0; /* Removes any default margins that might cause misalignment */
  }
  
  .leetcode-link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .leetcode-link:hover {
    text-decoration: underline;
  }
  
  .accuracy {
    color: #333;
  }
    